/* :root {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.5rem;
}
p {
  font-size: 1.5rem;
  padding-left: 1rem;
}
h2 {
  font-size: 2.7rem;
}
h3 {
  font-size: 2.3rem;
} */
.btncont {
  padding: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
}
p {
  font-size: 2rem;
  font-weight: 400;
}
h4 {
  font-size: 2.5rem;
  font-weight: 500;
}
.padding-container {
  padding: 3rem;
  width: 75%;
  margin: auto;
}

ul {
  padding-left: 3rem;
}
ul > li {
  padding-bottom: 0.5rem;
}

.vocab {
  font-size: 3rem;
  font-weight: 600;
}

@media (max-width: 600px) {
  .padding-container {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .padding-container {
    width: 50%;
  }
}
